<%- include("header") %>
    <div class="container-fluid">
        <div class="row align-items-center">
            <a href="/clear" role="button">Clear List</a>
        </div>
    </div>
    <div class="container">
        <%- include("new-book") %>
    </div>
    <%- include("footer") %>
