<%- include("header") %>
    <div class="container-fluid">
        <div class="row align-items-center">
            <form>
                <label for="Search Title">Search: </label>
                <input type="text">
            </form>
        </div>
    </div>
    <div class="container">
        <%- include("new-book") %>
    </div>
    <%- include("footer") %>
