<% console.log(books.indexOf(false)); %>

<% books.forEach(book =>  { %>

<div class="row bg-light">
    <div class="col-sm-3"><img class="img-fluid" src="uploads/<%= book.path %>" alt="Card image"></div>
    <div class="col-sm-8">
        <h4><%= book.title %></h4>
        <h6>by <%= book.authorName%> </h6>
        <h6>ISBN: <%= book.isbn %></h6>
        <h6>Edition: <% book.edition %> </h6>
        <h6>Edition: <% book.edition %> </h6>
    </div>
</div>
<hr>

<% }); %>