<%- include("header") %>

<body>
    <nav class="nav nav-pills nav-tabs justify-content-center">
        <a class="nav-link nav-item" href="home">Home</a>
        <a class="nav-link nav-item active" href="sell">Sell Your Books</a>
        <a class="nav-link nav-item" href="market">MarketBoard</a>
        <a class="nav-link nav-item" href="#">About Me</a>
    </nav>

    <div class="container left-side">
        <div class="row">
            <div class="col-lg">
                <div>
                    <h2>Enter in book information</h2>
                    <form action="/uploadfile" enctype="multipart/form-data" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="title">Title<span class="important">*</span></label>
                                <input type="text" class="form-control" id="book-title" name="title"
                                    placeholder="Book Title" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="author">Author(s)<span class="important">*</span></label>
                                <input type="text" class="form-control" id="bookAuthor" name="author"
                                    placeholder="A.A Cunningham" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="ISBN">ISBN<span class="important">*</span></label>
                                <input type="text" class="form-control" id="bookIsbn" name="isbn"
                                    placeholder="9780787996833" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="edition">Edition</label>
                                <input type="text" class="form-control" id="bookEdition" name="edition"
                                    placeholder="4th" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="upload-image">Sale Price<span class="important">*</span></label>
                                <input type="text" class="form-control" id="bookPrice" name="price" placeholder="$2.00" pattern="[$]+[0-9]{1,9}+{.}[0-9]{0-2}"
                                    required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="publisher">Publisher</label>
                                <input type="text" class="form-control" id="publisherName" name="publisher"
                                    placeholder="Wiley">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="class">Course used in</label>
                                <input type="text" class="form-control" id="classroom" name="course"
                                    placeholder="CSC201">
                            </div>
                            <div class="form-group col-md-4 col-sm-3">
                                <label for="fileUpload">Upload Image</label>
                                <input type="file" name="imageFile" accept="image/*" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="comments">Miscellaneous Information/Comments</label>
                                <textarea name="comments" class="form-control" name="miscComments" rows="3"
                                    placeholder="In fair condition, has great and easy tutorials, used very often in/outside of class"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <!-- center this button *** -->
                            <div class="col-12">
                                <button class="btn btn-secondary mb-2" type="submit">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer") %>
</body>

</html>