body {
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

/* Home Page */

.test {
    background-image: url("/images/bookshelf.jpg");
    min-height: 700px;
    opacity: .7;
    width: 100%;

}

.login-screen{
    background-color: rgb(255, 254, 254);
    margin: 40px auto 0px;
    width: 80%;
    height: 600px;
    text-align: center;
}

.login-card {
    background-color: #5c7d92;
    color: white;
}

.words {
    margin-top: 15%;
    text-align: center;
}

.nav {
    background-color: #0f4c75;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(122, 156, 194);
    text-decoration: underline;
}

.book {
    width: 70%;
    margin: 80px auto;
}


/* Market */

.market {
    margin: 0 auto;
    background-color: #eebb4d;
    height: 600px;
}

.book-details p {
    margin: 0;
}

.test-list {
    padding-left: 0px;

}

.test-list li {
    display: inline;
    padding-right: 10%;
}

/* Sell Book */

input:optional {
    background-color: rgb(205, 215, 235);
}

textarea:optional {
    background-color: rgb(205, 215, 235);
}

footer {
    background-color: #0f4c75;
    height: 100px;
}